.hero {
  @include pt(100px);
  &__container {
    display: flex;
    flex-direction: column;
  }
}
.data {
  @include pt(10px);
  &__button {
    display: flex;
    justify-content: flex-end;
  }
  &__table {
    width: 100%;
    overflow-x: auto;
    @include mt(18px);
  }
}

table {
  border-spacing: 0;
  border: 1px solid black;
  width: 100%;
  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    &:last-child {
      border-right: 0;
    }
  }
}
