.breadcumb {
  display: flex;
  align-items: center;
  &__one {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  &__two {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    width: 14px;
    height: 14px;
  }
}
